<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="subtitle.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Subtitle Perspective"
            class="subtitle.Perspective"
            id="subtitle.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Message"
            allowMultiple="true"
            class="subtitle.View"
            id="subtitle.view">
      </view>"/>
      <view
            class="subtitle.TimelineOutliner"
            id="subtitle.TimelineOutliner"
            name="New ViewPart"/>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="subtitle.file.openOriginalSubtitle"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+O"/>
      <key
            commandId="subtitle.edit.merge"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+K"/>
      <key
            commandId="subtitle.edit.adjustTimeline"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+D"/>
      <key
            commandId="subtitle.edit.AppendLine"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Insert"/>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="subtitle.application"
            name="字幕工具">
         <property
               name="aboutText"
               value="%aboutText">
         </property>
         <property
               name="windowImages"
               value="icons/logo.gif,icons/logo_32.gif,icons/logo_48.gif,icons/logo_64.gif">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="000000"/>
         <property
               name="startupMessageRect"
               value="0,245,275,20"/>
         <property
               name="startupProgressRect"
               value="0,277,275,15"/>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini"/>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="subtitle.file.openOriginalSubtitle"
            name="打开字幕"/>
      <command
            id="subtitle.edit.merge"
            name="合并选定行"/>
      <command
            id="subtitle.edit.adjustTimeline"
            name="调整时间轴"/>
      <command
            id="subtitle.edit.AppendLine"
            name="向后插入新行"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="subtitle.ui.SubtitleEditor"
            contributorClass="subtitle.ui.EditorContributor"
            icon="icons/file.gif"
            id="subtitle.Editor"
            name="subtitle editor"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="subtitle.viewerContribution1"
            targetID="subtitle.editor.popup">
	     <action
            class="subtitle.action.AdjustTimelineAction"
            definitionId="subtitle.edit.adjustTimeline"
            id="subtitle.edit.adjustTimeline"
            icon="icons/adj.gif"
            label="调整时间轴..."
            menubarPath="additions"
            style="push"
            />
	     <action
            class="subtitle.action.PrependLineAction"
            definitionId="subtitle.prependLine"
            id="subtitle.prependLine"
            label="向前插入新行"
            menubarPath="additions"
            style="push"
            />
	     <action
            class="subtitle.action.AppendLineAction"
            definitionId="subtitle.edit.AppendLine"
            id="subtitle.edit.AppendLine"
            label="向后插入新行"
            menubarPath="additions"
            style="push"
            />
	     <action
            class="subtitle.action.MergeAction"
            definitionId="subtitle.edit.merge"
            enablesFor="2+"
            icon="icons/merge.gif"
            id="subtitle.edit.merge"
            label="合并选定行"
            menubarPath="additions"
            style="push"
            />
	     <action
            class="subtitle.action.DeleteLinesAction"
            definitionId="org.eclipse.ui.edit.delete"
            enablesFor="+"
            icon="icons/delete.gif"
            id="subtitle.deleteLinesAction"
            label="删除选定行"
            menubarPath="additions"
            style="push"
            />
            <!--用这个definitionId其实只是想要图标和右键菜单上的显示...not handled-->
      </viewerContribution>
   </extension>
	  <extension
	     point="org.eclipse.ui.editorActions">
	  <editorContribution
	        id="subtitle.editorContribution12"
	        targetID="subtitle.Editor">
	     <action
            class="subtitle.action.AdjustTimelineAction"
            definitionId="subtitle.edit.adjustTimeline"
            enablesFor="+"
            id="subtitle.edit.adjustTimeline"
            icon="icons/adj.gif"
            label="调整时间轴"
            style="push"
            toolbarPath="additons"
            tooltip="调整时间轴"
            />
	     <action
            class="subtitle.action.MergeAction"
            definitionId="subtitle.edit.merge"
            enablesFor="2+"
            icon="icons/merge.gif"
            id="subtitle.edit.merge"
            label="合并选定行"
            style="push"
            toolbarPath="additons"
            tooltip="合并选定行"/>
	     <action
            class="subtitle.action.DeleteLinesAction"
            definitionId="org.eclipse.ui.edit.delete"
            enablesFor="+"
            icon="icons/delete.gif"
            id="subtitle.deleteLinesAction"
            label="删除选定行"
            style="push"
            toolbarPath="additons"
            tooltip="删除选定行"/>
	  </editorContribution>
	   </extension>
	   <!--
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="subtitle.actionSet1"
            label="subtitle.actionSet1"/>
   </extension>
   -->
</plugin>
